li {
    text-align: left;
}

#benefits-of-working {
    margin-bottom: 0;
}

#expertise-you-can-trust,
#unbeatable-value {
    width: 30%;
    display: inline-block;
    padding-top: 0;
}

#expertise-you-can-trust h3,
#unbeatable-value h3 {
    font-size: .75rem;
}

#expertise-you-can-trust {
    margin-left: 15%;
}

#seamlessly-manage p {
    text-align: left;
}